<div style="border: 1px solid blue; padding: 10px; background: red">
  <%= form_for([@board, @board.tasks.build]) do |f| %>
  <%= f.text_field :title, placeholder: "New Todo"  %> <%= f.submit %> <%end%>
</div>